[Unit]
Documentation=man:nslcd
Description=Name service lookup daemon
Before=graphical.target
Before=xdm.service
Before=nscd.service
After=k5start-nslcd.service
BindsTo=k5start-nslcd.service
JoinsNamespaceOf=k5start-nslcd.service

[Service]
Type=forking
ExecStart=/usr/sbin/nslcd
Restart=on-failure
TimeoutSec=5min
PrivateTmp=yes

[Install]
WantedBy=gsi-remote.target
