Source: chef-cookbook-sys
Section: admin
Priority: optional
Maintainer: Christopher Huhn <C.Huhn@gsi.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.3.0
Homepage: https://github.com/GSI-HPC/sys-chef-cookbook
Vcs-Git: https://github.com/GSI-HPC/sys-chef-cookbook.git
Vcs-Browser: https://github.com/GSI-HPC/sys-chef-cookbook 

Package: chef-cookbook-sys
Architecture: all
Depends: ${misc:Depends}, chef
Description: 'sys' cookbook for Chef configuration management system
 The 'sys' cookbook helps integrating a node into a computing site.
 It configures various services but concentrates on the client side,
 eg. apt repositories, automount, NTP, IPMI BMCs, postfix, SNMP, aso.
